.match-card {
    background-image: url("https://images.unsplash.com/photo-1556056504-5c7696c4c28d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=676&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency by changing the last value */
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.match-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.match-score {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    margin: 20px;
    color: #333;
}

    .match-score span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }

        .match-score span:first-child {
            text-align: right;
            padding-right: 10px;
        }

        .match-score span:last-child {
            text-align: left;
            padding-left: 10px;
        }

.match-date {
    font-size: 1.2rem;
    color: #777;
    margin: 10px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #555;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #777;
}

